.css-shape {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	&__left {
		grid-area: 3/1/1/1;
		height: 500px;
	}
}

.triangle-top-left__big {
	width: 0;
	height: 0;
	right: 0;
	border-top: 160px solid $darkblue;
	border-right: 160px solid transparent;
	z-index: 1;
}

.triangle-top-left__small {
	width: 0;
	height: 0;
	right: 0;
	border-top: 69px solid #415469;
	border-right: 69px solid transparent;
	top: 52px;
	left: 91px;
	z-index: 1;
	position: absolute;
}

.circle-top-left {
	position: absolute;
	border-top-left-radius: 220px;
	border-top-right-radius: 220px;
	border-bottom: 0;
	height: 200px;
	width: 400px;
	background-color: $bluegreen;
	top: 66px;
	left: -9px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}


@media (min-width: $screen-sm-min) {

	.triangle-top-left__big {
		border-top: 220px solid $darkblue;
		border-right: 220px solid transparent;
	}

	.triangle-top-left__small {
		border-top: 80px solid $blue;
		border-right: 80px solid transparent;
		top: 52px;
		left: 140px;
	}

	.circle-top-left {
		border-top-left-radius: 330px;
		border-top-right-radius: 330px;
		height: 300px;
		width: 600px;
	}
}

@media (min-width: $screen-md-min) {
	.triangle-top-left__small {
		top: 56px;
	}
}
