footer {
	background: $chestnut;
}

.footer {
	padding: 80px 0;
	overflow: hidden;
	
	&__dots {
		height: 80px;
		width: 80px;
		position: absolute;
		right: -63px;
		z-index: 1;
	}
}

@media (min-width: $screen-sm-min) {

	.footer {
		&__container {
			display: flex;
			justify-content: space-between;
		}
	}
}

@media (min-width: $screen-md-min) {

	.footer {
		&__circle {
			position: absolute;
			background-color: $darkblue;
			border-radius: 50%;
			height: 345px;
			width: 345px;
			right: -345px;
			bottom: -220px;
			z-index: 1;
		}
		&__circle2 {
			position: absolute;
			background-color: $blue;
			border-radius: 50%;
			height: 345px;
			width: 345px;
			top: -220px;
			right: -345px;
		}
	}
}
