.navbar {
	background: $primary;
}

.navbar-item, .navbar-link{
	color: $lighterblue;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active,
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
	background-color: $blue;
	color: $lighterblue;
}

.navbar-dropdown {
	background: $blue;
}
